<div class="row">
  <div class="col-md-6">
    {{committee-list selectChamber='selectChamber' showSubcommittees='showSubcommittees' list=model.parentCommittee}}
  </div>
  <div class="col-md-6">
    {{subcommittee-list list=model.subcommittees}}
  </div>
</div>
